// base color
$blue:#324157;
$light-blue:#3A71A8;
$red:#C03639;
$pink: #E65D6E;
$green: #30B08F;
$tiffany: #4AB7BD;
$yellow:#FEC171;
$panGreen: #30B08F;

// sidebar
$menuText:#ffffff;
$menuActiveText:#11b8e2;
$subMenuActiveText:#11b8e2; // https://github.com/ElemeFE/element/issues/12951

$menuBg:#172c3c;
$menuHover:#274862;

$subMenuBg:#172c3c;
$subMenuHover:#274862;

$sideBarWidth: 210px;


// navbar
$navBarBg: #fff;
$navBarBottomBorder: #112a3d;


$comBorder:#e9eced; // 公共线颜色
$comTheme:#11b8e2; // 颜色
$comBg: #f0f2f5; // 公共背景色


// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
  navBarBg: $navBarBg;
  navBarBottomBorder: $navBarBottomBorder;
  comBorder: $comBorder;
  comTheme: $comTheme;
  comBg: $comBg;
}
